.mdC-AD, .mdC-AE, .mdC-AF, .mdC-AG, .mdC-AI, .mdC-AL, .mdC-AM, .mdC-AN, .mdC-AO, .mdC-AQ, .mdC-AR, .mdC-AS, .mdC-AT, .mdC-AU, .mdC-AW, .mdC-AX, .mdC-AZ, .mdC-BA, .mdC-BB, .mdC-BD, .mdC-BE, .mdC-BF, .mdC-BG, .mdC-BH, .mdC-BI, .mdC-BJ, .mdC-BL, .mdC-BM, .mdC-BN, .mdC-BO, .mdC-BR, .mdC-BS, .mdC-BT, .mdC-BW, .mdC-BY, .mdC-BZ, .mdC-CA, .mdC-CC, .mdC-CD, .mdC-CF, .mdC-CG, .mdC-CH, .mdC-CI, .mdC-CK, .mdC-CL, .mdC-CM, .mdC-CN, .mdC-CO, .mdC-CR, .mdC-CU, .mdC-CV, .mdC-CW, .mdC-CX, .mdC-CY, .mdC-CZ, .mdC-DE, .mdC-DJ, .mdC-DK, .mdC-DM, .mdC-DO, .mdC-DZ, .mdC-EC, .mdC-EE, .mdC-EG, .mdC-EH, .mdC-ER, .mdC-ES, .mdC-ET, .mdC-EU, .mdC-FI, .mdC-FJ, .mdC-FK, .mdC-FM, .mdC-FO, .mdC-FR, .mdC-GA, .mdC-GB, .mdC-GD, .mdC-GE, .mdC-GG, .mdC-GH, .mdC-GI, .mdC-GL, .mdC-GM, .mdC-GN, .mdC-GQ, .mdC-GR, .mdC-GS, .mdC-GT, .mdC-GU, .mdC-GW, .mdC-GY, .mdC-HK, .mdC-HN, .mdC-HR, .mdC-HT, .mdC-HU, .mdC-IC, .mdC-ID, .mdC-IE, .mdC-IL, .mdC-IM, .mdC-IN, .mdC-IQ, .mdC-IR, .mdC-IS, .mdC-IT, .mdC-JE, .mdC-JM, .mdC-JO, .mdC-JP, .mdC-KE, .mdC-KG, .mdC-KH, .mdC-KI, .mdC-KM, .mdC-KN, .mdC-KP, .mdC-KR, .mdC-KW, .mdC-KY, .mdC-KZ, .mdC-LA, .mdC-LB, .mdC-LC, .mdC-LI, .mdC-LK, .mdC-LR, .mdC-LS, .mdC-LT, .mdC-LU, .mdC-LV, .mdC-LY, .mdC-MA, .mdC-MC, .mdC-MD, .mdC-ME, .mdC-MF, .mdC-MG, .mdC-MH, .mdC-MK, .mdC-ML, .mdC-MM, .mdC-MN, .mdC-MO, .mdC-MP, .mdC-MQ, .mdC-MR, .mdC-MS, .mdC-MT, .mdC-MU, .mdC-MV, .mdC-MW, .mdC-MX, .mdC-MY, .mdC-MZ, .mdC-NA, .mdC-NC, .mdC-NE, .mdC-NF, .mdC-NG, .mdC-NI, .mdC-NL, .mdC-NO, .mdC-NP, .mdC-NR, .mdC-NU, .mdC-NZ, .mdC-OM, .mdC-PA, .mdC-PE, .mdC-PF, .mdC-PG, .mdC-PH, .mdC-PK, .mdC-PL, .mdC-PN, .mdC-PR, .mdC-PS, .mdC-PT, .mdC-PW, .mdC-PY, .mdC-QA, .mdC-RO, .mdC-RS, .mdC-RU, .mdC-RW, .mdC-SA, .mdC-SB, .mdC-SC, .mdC-SD, .mdC-SE, .mdC-SG, .mdC-SH, .mdC-SI, .mdC-SK, .mdC-SL, .mdC-SM, .mdC-SN, .mdC-SO, .mdC-SR, .mdC-SS, .mdC-ST, .mdC-SV, .mdC-SY, .mdC-SZ, .mdC-TC, .mdC-TD, .mdC-TF, .mdC-TG, .mdC-TH, .mdC-TJ, .mdC-TK, .mdC-TL, .mdC-TM, .mdC-TN, .mdC-TO, .mdC-TR, .mdC-TT, .mdC-TV, .mdC-TW, .mdC-TZ, .mdC-UA, .mdC-UG, .mdC-US, .mdC-UY, .mdC-UZ, .mdC-VA, .mdC-VC, .mdC-VE, .mdC-VG, .mdC-VI, .mdC-VN, .mdC-VU, .mdC-WF, .mdC-WS, .mdC-YE, .mdC-YT, .mdC-ZA, .mdC-ZM, .mdC-ZW, .mdC-_unknown{
	background: url(../../../img/modules/content/flags.png) no-repeat;
}

.mdC-AD{
	background-position: 0 -1040px ;
	width: 64px;
	height: 64px;
}

.mdC-AE{
	background-position: 0 -520px ;
	width: 64px;
	height: 64px;
}

.mdC-AF{
	background-position: -910px -975px ;
	width: 64px;
	height: 64px;
}

.mdC-AG{
	background-position: -845px -975px ;
	width: 64px;
	height: 64px;
}

.mdC-AI{
	background-position: -780px -975px ;
	width: 64px;
	height: 64px;
}

.mdC-AL{
	background-position: -715px -975px ;
	width: 64px;
	height: 64px;
}

.mdC-AM{
	background-position: -650px -975px ;
	width: 64px;
	height: 64px;
}

.mdC-AN{
	background-position: -585px -975px ;
	width: 64px;
	height: 64px;
}

.mdC-AO{
	background-position: -520px -975px ;
	width: 64px;
	height: 64px;
}

.mdC-AQ{
	background-position: -455px -975px ;
	width: 64px;
	height: 64px;
}

.mdC-AR{
	background-position: -390px -975px ;
	width: 64px;
	height: 64px;
}

.mdC-AS{
	background-position: -325px -975px ;
	width: 64px;
	height: 64px;
}

.mdC-AT{
	background-position: -260px -975px ;
	width: 64px;
	height: 64px;
}

.mdC-AU{
	background-position: -195px -975px ;
	width: 64px;
	height: 64px;
}

.mdC-AW{
	background-position: -130px -975px ;
	width: 64px;
	height: 64px;
}

.mdC-AX{
	background-position: -65px -975px ;
	width: 64px;
	height: 64px;
}

.mdC-AZ{
	background-position: 0 -975px ;
	width: 64px;
	height: 64px;
}

.mdC-BA{
	background-position: -910px -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BB{
	background-position: -845px -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BD{
	background-position: -780px -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BE{
	background-position: -715px -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BF{
	background-position: -650px -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BG{
	background-position: -585px -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BH{
	background-position: -520px -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BI{
	background-position: -455px -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BJ{
	background-position: -390px -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BL{
	background-position: -325px -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BM{
	background-position: -260px -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BN{
	background-position: -195px -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BO{
	background-position: -130px -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BR{
	background-position: -65px -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BS{
	background-position: 0 -910px ;
	width: 64px;
	height: 64px;
}

.mdC-BT{
	background-position: -910px -845px ;
	width: 64px;
	height: 64px;
}

.mdC-BW{
	background-position: -845px -845px ;
	width: 64px;
	height: 64px;
}

.mdC-BY{
	background-position: -780px -845px ;
	width: 64px;
	height: 64px;
}

.mdC-BZ{
	background-position: -715px -845px ;
	width: 64px;
	height: 64px;
}

.mdC-CA{
	background-position: -650px -845px ;
	width: 64px;
	height: 64px;
}

.mdC-CC{
	background-position: -585px -845px ;
	width: 64px;
	height: 64px;
}

.mdC-CD{
	background-position: -520px -845px ;
	width: 64px;
	height: 64px;
}

.mdC-CF{
	background-position: -455px -845px ;
	width: 64px;
	height: 64px;
}

.mdC-CG{
	background-position: -390px -845px ;
	width: 64px;
	height: 64px;
}

.mdC-CH{
	background-position: -325px -845px ;
	width: 64px;
	height: 64px;
}

.mdC-CI{
	background-position: -260px -845px ;
	width: 64px;
	height: 64px;
}

.mdC-CK{
	background-position: -195px -845px ;
	width: 64px;
	height: 64px;
}

.mdC-CL{
	background-position: -130px -845px ;
	width: 64px;
	height: 64px;
}

.mdC-CM{
	background-position: -65px -845px ;
	width: 64px;
	height: 64px;
}

.mdC-CN{
	background-position: 0 -845px ;
	width: 64px;
	height: 64px;
}

.mdC-CO{
	background-position: -910px -780px ;
	width: 64px;
	height: 64px;
}

.mdC-CR{
	background-position: -845px -780px ;
	width: 64px;
	height: 64px;
}

.mdC-CU{
	background-position: -780px -780px ;
	width: 64px;
	height: 64px;
}

.mdC-CV{
	background-position: -715px -780px ;
	width: 64px;
	height: 64px;
}

.mdC-CW{
	background-position: -650px -780px ;
	width: 64px;
	height: 64px;
}

.mdC-CX{
	background-position: -585px -780px ;
	width: 64px;
	height: 64px;
}

.mdC-CY{
	background-position: -520px -780px ;
	width: 64px;
	height: 64px;
}

.mdC-CZ{
	background-position: -455px -780px ;
	width: 64px;
	height: 64px;
}

.mdC-DE{
	background-position: -390px -780px ;
	width: 64px;
	height: 64px;
}

.mdC-DJ{
	background-position: -325px -780px ;
	width: 64px;
	height: 64px;
}

.mdC-DK{
	background-position: -260px -780px ;
	width: 64px;
	height: 64px;
}

.mdC-DM{
	background-position: -195px -780px ;
	width: 64px;
	height: 64px;
}

.mdC-DO{
	background-position: -130px -780px ;
	width: 64px;
	height: 64px;
}

.mdC-DZ{
	background-position: -65px -780px ;
	width: 64px;
	height: 64px;
}

.mdC-EC{
	background-position: 0 -780px ;
	width: 64px;
	height: 64px;
}

.mdC-EE{
	background-position: -910px -715px ;
	width: 64px;
	height: 64px;
}

.mdC-EG{
	background-position: -845px -715px ;
	width: 64px;
	height: 64px;
}

.mdC-EH{
	background-position: -780px -715px ;
	width: 64px;
	height: 64px;
}

.mdC-ER{
	background-position: -715px -715px ;
	width: 64px;
	height: 64px;
}

.mdC-ES{
	background-position: -650px -715px ;
	width: 64px;
	height: 64px;
}

.mdC-ET{
	background-position: -585px -715px ;
	width: 64px;
	height: 64px;
}

.mdC-EU{
	background-position: -520px -715px ;
	width: 64px;
	height: 64px;
}

.mdC-FI{
	background-position: -455px -715px ;
	width: 64px;
	height: 64px;
}

.mdC-FJ{
	background-position: -390px -715px ;
	width: 64px;
	height: 64px;
}

.mdC-FK{
	background-position: -325px -715px ;
	width: 64px;
	height: 64px;
}

.mdC-FM{
	background-position: -260px -715px ;
	width: 64px;
	height: 64px;
}

.mdC-FO{
	background-position: -195px -715px ;
	width: 64px;
	height: 64px;
}

.mdC-FR{
	background-position: -130px -715px ;
	width: 64px;
	height: 64px;
}

.mdC-GA{
	background-position: -65px -715px ;
	width: 64px;
	height: 64px;
}

.mdC-GB{
	background-position: 0 -715px ;
	width: 64px;
	height: 64px;
}

.mdC-GD{
	background-position: -910px -650px ;
	width: 64px;
	height: 64px;
}

.mdC-GE{
	background-position: -845px -650px ;
	width: 64px;
	height: 64px;
}

.mdC-GG{
	background-position: -780px -650px ;
	width: 64px;
	height: 64px;
}

.mdC-GH{
	background-position: -715px -650px ;
	width: 64px;
	height: 64px;
}

.mdC-GI{
	background-position: -650px -650px ;
	width: 64px;
	height: 64px;
}

.mdC-GL{
	background-position: -585px -650px ;
	width: 64px;
	height: 64px;
}

.mdC-GM{
	background-position: -520px -650px ;
	width: 64px;
	height: 64px;
}

.mdC-GN{
	background-position: -455px -650px ;
	width: 64px;
	height: 64px;
}

.mdC-GQ{
	background-position: -390px -650px ;
	width: 64px;
	height: 64px;
}

.mdC-GR{
	background-position: -325px -650px ;
	width: 64px;
	height: 64px;
}

.mdC-GS{
	background-position: -260px -650px ;
	width: 64px;
	height: 64px;
}

.mdC-GT{
	background-position: -195px -650px ;
	width: 64px;
	height: 64px;
}

.mdC-GU{
	background-position: -130px -650px ;
	width: 64px;
	height: 64px;
}

.mdC-GW{
	background-position: -65px -650px ;
	width: 64px;
	height: 64px;
}

.mdC-GY{
	background-position: 0 -650px ;
	width: 64px;
	height: 64px;
}

.mdC-HK{
	background-position: -910px -585px ;
	width: 64px;
	height: 64px;
}

.mdC-HN{
	background-position: -845px -585px ;
	width: 64px;
	height: 64px;
}

.mdC-HR{
	background-position: -780px -585px ;
	width: 64px;
	height: 64px;
}

.mdC-HT{
	background-position: -715px -585px ;
	width: 64px;
	height: 64px;
}

.mdC-HU{
	background-position: -650px -585px ;
	width: 64px;
	height: 64px;
}

.mdC-IC{
	background-position: -585px -585px ;
	width: 64px;
	height: 64px;
}

.mdC-ID{
	background-position: -520px -585px ;
	width: 64px;
	height: 64px;
}

.mdC-IE{
	background-position: -455px -585px ;
	width: 64px;
	height: 64px;
}

.mdC-IL{
	background-position: -390px -585px ;
	width: 64px;
	height: 64px;
}

.mdC-IM{
	background-position: -325px -585px ;
	width: 64px;
	height: 64px;
}

.mdC-IN{
	background-position: -260px -585px ;
	width: 64px;
	height: 64px;
}

.mdC-IQ{
	background-position: -195px -585px ;
	width: 64px;
	height: 64px;
}

.mdC-IR{
	background-position: -130px -585px ;
	width: 64px;
	height: 64px;
}

.mdC-IS{
	background-position: -65px -585px ;
	width: 64px;
	height: 64px;
}

.mdC-IT{
	background-position: 0 -585px ;
	width: 64px;
	height: 64px;
}

.mdC-JE{
	background-position: -910px -520px ;
	width: 64px;
	height: 64px;
}

.mdC-JM{
	background-position: -845px -520px ;
	width: 64px;
	height: 64px;
}

.mdC-JO{
	background-position: -780px -520px ;
	width: 64px;
	height: 64px;
}

.mdC-JP{
	background-position: -715px -520px ;
	width: 64px;
	height: 64px;
}

.mdC-KE{
	background-position: -650px -520px ;
	width: 64px;
	height: 64px;
}

.mdC-KG{
	background-position: -585px -520px ;
	width: 64px;
	height: 64px;
}

.mdC-KH{
	background-position: -520px -520px ;
	width: 64px;
	height: 64px;
}

.mdC-KI{
	background-position: -455px -520px ;
	width: 64px;
	height: 64px;
}

.mdC-KM{
	background-position: -390px -520px ;
	width: 64px;
	height: 64px;
}

.mdC-KN{
	background-position: -325px -520px ;
	width: 64px;
	height: 64px;
}

.mdC-KP{
	background-position: -260px -520px ;
	width: 64px;
	height: 64px;
}

.mdC-KR{
	background-position: -195px -520px ;
	width: 64px;
	height: 64px;
}

.mdC-KW{
	background-position: -130px -520px ;
	width: 64px;
	height: 64px;
}

.mdC-KY{
	background-position: -65px -520px ;
	width: 64px;
	height: 64px;
}

.mdC-KZ{
	background-position: -65px -1040px ;
	width: 64px;
	height: 64px;
}

.mdC-LA{
	background-position: -910px -455px ;
	width: 64px;
	height: 64px;
}

.mdC-LB{
	background-position: -845px -455px ;
	width: 64px;
	height: 64px;
}

.mdC-LC{
	background-position: -780px -455px ;
	width: 64px;
	height: 64px;
}

.mdC-LI{
	background-position: -715px -455px ;
	width: 64px;
	height: 64px;
}

.mdC-LK{
	background-position: -650px -455px ;
	width: 64px;
	height: 64px;
}

.mdC-LR{
	background-position: -585px -455px ;
	width: 64px;
	height: 64px;
}

.mdC-LS{
	background-position: -520px -455px ;
	width: 64px;
	height: 64px;
}

.mdC-LT{
	background-position: -455px -455px ;
	width: 64px;
	height: 64px;
}

.mdC-LU{
	background-position: -390px -455px ;
	width: 64px;
	height: 64px;
}

.mdC-LV{
	background-position: -325px -455px ;
	width: 64px;
	height: 64px;
}

.mdC-LY{
	background-position: -260px -455px ;
	width: 64px;
	height: 64px;
}

.mdC-MA{
	background-position: -195px -455px ;
	width: 64px;
	height: 64px;
}

.mdC-MC{
	background-position: -130px -455px ;
	width: 64px;
	height: 64px;
}

.mdC-MD{
	background-position: -65px -455px ;
	width: 64px;
	height: 64px;
}

.mdC-ME{
	background-position: 0 -455px ;
	width: 64px;
	height: 64px;
}

.mdC-MF{
	background-position: -910px -390px ;
	width: 64px;
	height: 64px;
}

.mdC-MG{
	background-position: -845px -390px ;
	width: 64px;
	height: 64px;
}

.mdC-MH{
	background-position: -780px -390px ;
	width: 64px;
	height: 64px;
}

.mdC-MK{
	background-position: -715px -390px ;
	width: 64px;
	height: 64px;
}

.mdC-ML{
	background-position: -650px -390px ;
	width: 64px;
	height: 64px;
}

.mdC-MM{
	background-position: -585px -390px ;
	width: 64px;
	height: 64px;
}

.mdC-MN{
	background-position: -520px -390px ;
	width: 64px;
	height: 64px;
}

.mdC-MO{
	background-position: -455px -390px ;
	width: 64px;
	height: 64px;
}

.mdC-MP{
	background-position: -390px -390px ;
	width: 64px;
	height: 64px;
}

.mdC-MQ{
	background-position: -325px -390px ;
	width: 64px;
	height: 64px;
}

.mdC-MR{
	background-position: -260px -390px ;
	width: 64px;
	height: 64px;
}

.mdC-MS{
	background-position: -195px -390px ;
	width: 64px;
	height: 64px;
}

.mdC-MT{
	background-position: -130px -390px ;
	width: 64px;
	height: 64px;
}

.mdC-MU{
	background-position: -65px -390px ;
	width: 64px;
	height: 64px;
}

.mdC-MV{
	background-position: 0 -390px ;
	width: 64px;
	height: 64px;
}

.mdC-MW{
	background-position: -910px -325px ;
	width: 64px;
	height: 64px;
}

.mdC-MX{
	background-position: -845px -325px ;
	width: 64px;
	height: 64px;
}

.mdC-MY{
	background-position: -780px -325px ;
	width: 64px;
	height: 64px;
}

.mdC-MZ{
	background-position: -715px -325px ;
	width: 64px;
	height: 64px;
}

.mdC-NA{
	background-position: -650px -325px ;
	width: 64px;
	height: 64px;
}

.mdC-NC{
	background-position: -585px -325px ;
	width: 64px;
	height: 64px;
}

.mdC-NE{
	background-position: -520px -325px ;
	width: 64px;
	height: 64px;
}

.mdC-NF{
	background-position: -455px -325px ;
	width: 64px;
	height: 64px;
}

.mdC-NG{
	background-position: -390px -325px ;
	width: 64px;
	height: 64px;
}

.mdC-NI{
	background-position: -325px -325px ;
	width: 64px;
	height: 64px;
}

.mdC-NL{
	background-position: -260px -325px ;
	width: 64px;
	height: 64px;
}

.mdC-NO{
	background-position: -195px -325px ;
	width: 64px;
	height: 64px;
}

.mdC-NP{
	background-position: -130px -325px ;
	width: 64px;
	height: 64px;
}

.mdC-NR{
	background-position: -65px -325px ;
	width: 64px;
	height: 64px;
}

.mdC-NU{
	background-position: 0 -325px ;
	width: 64px;
	height: 64px;
}

.mdC-NZ{
	background-position: -910px -260px ;
	width: 64px;
	height: 64px;
}

.mdC-OM{
	background-position: -845px -260px ;
	width: 64px;
	height: 64px;
}

.mdC-PA{
	background-position: -780px -260px ;
	width: 64px;
	height: 64px;
}

.mdC-PE{
	background-position: -715px -260px ;
	width: 64px;
	height: 64px;
}

.mdC-PF{
	background-position: -650px -260px ;
	width: 64px;
	height: 64px;
}

.mdC-PG{
	background-position: -585px -260px ;
	width: 64px;
	height: 64px;
}

.mdC-PH{
	background-position: -520px -260px ;
	width: 64px;
	height: 64px;
}

.mdC-PK{
	background-position: -455px -260px ;
	width: 64px;
	height: 64px;
}

.mdC-PL{
	background-position: -390px -260px ;
	width: 64px;
	height: 64px;
}

.mdC-PN{
	background-position: -325px -260px ;
	width: 64px;
	height: 64px;
}

.mdC-PR{
	background-position: -260px -260px ;
	width: 64px;
	height: 64px;
}

.mdC-PS{
	background-position: -195px -260px ;
	width: 64px;
	height: 64px;
}

.mdC-PT{
	background-position: -130px -260px ;
	width: 64px;
	height: 64px;
}

.mdC-PW{
	background-position: -65px -260px ;
	width: 64px;
	height: 64px;
}

.mdC-PY{
	background-position: 0 -260px ;
	width: 64px;
	height: 64px;
}

.mdC-QA{
	background-position: -910px -195px ;
	width: 64px;
	height: 64px;
}

.mdC-RO{
	background-position: -845px -195px ;
	width: 64px;
	height: 64px;
}

.mdC-RS{
	background-position: -780px -195px ;
	width: 64px;
	height: 64px;
}

.mdC-RU{
	background-position: -715px -195px ;
	width: 64px;
	height: 64px;
}

.mdC-RW{
	background-position: -650px -195px ;
	width: 64px;
	height: 64px;
}

.mdC-SA{
	background-position: -585px -195px ;
	width: 64px;
	height: 64px;
}

.mdC-SB{
	background-position: -520px -195px ;
	width: 64px;
	height: 64px;
}

.mdC-SC{
	background-position: -455px -195px ;
	width: 64px;
	height: 64px;
}

.mdC-SD{
	background-position: -390px -195px ;
	width: 64px;
	height: 64px;
}

.mdC-SE{
	background-position: -325px -195px ;
	width: 64px;
	height: 64px;
}

.mdC-SG{
	background-position: -260px -195px ;
	width: 64px;
	height: 64px;
}

.mdC-SH{
	background-position: -195px -195px ;
	width: 64px;
	height: 64px;
}

.mdC-SI{
	background-position: -130px -195px ;
	width: 64px;
	height: 64px;
}

.mdC-SK{
	background-position: -65px -195px ;
	width: 64px;
	height: 64px;
}

.mdC-SL{
	background-position: 0 -195px ;
	width: 64px;
	height: 64px;
}

.mdC-SM{
	background-position: -910px -130px ;
	width: 64px;
	height: 64px;
}

.mdC-SN{
	background-position: -845px -130px ;
	width: 64px;
	height: 64px;
}

.mdC-SO{
	background-position: -780px -130px ;
	width: 64px;
	height: 64px;
}

.mdC-SR{
	background-position: -715px -130px ;
	width: 64px;
	height: 64px;
}

.mdC-SS{
	background-position: -650px -130px ;
	width: 64px;
	height: 64px;
}

.mdC-ST{
	background-position: -585px -130px ;
	width: 64px;
	height: 64px;
}

.mdC-SV{
	background-position: -520px -130px ;
	width: 64px;
	height: 64px;
}

.mdC-SY{
	background-position: -455px -130px ;
	width: 64px;
	height: 64px;
}

.mdC-SZ{
	background-position: -390px -130px ;
	width: 64px;
	height: 64px;
}

.mdC-TC{
	background-position: -325px -130px ;
	width: 64px;
	height: 64px;
}

.mdC-TD{
	background-position: -260px -130px ;
	width: 64px;
	height: 64px;
}

.mdC-TF{
	background-position: -195px -130px ;
	width: 64px;
	height: 64px;
}

.mdC-TG{
	background-position: -130px -130px ;
	width: 64px;
	height: 64px;
}

.mdC-TH{
	background-position: -65px -130px ;
	width: 64px;
	height: 64px;
}

.mdC-TJ{
	background-position: 0 -130px ;
	width: 64px;
	height: 64px;
}

.mdC-TK{
	background-position: -910px -65px ;
	width: 64px;
	height: 64px;
}

.mdC-TL{
	background-position: -845px -65px ;
	width: 64px;
	height: 64px;
}

.mdC-TM{
	background-position: -780px -65px ;
	width: 64px;
	height: 64px;
}

.mdC-TN{
	background-position: -715px -65px ;
	width: 64px;
	height: 64px;
}

.mdC-TO{
	background-position: -650px -65px ;
	width: 64px;
	height: 64px;
}

.mdC-TR{
	background-position: -585px -65px ;
	width: 64px;
	height: 64px;
}

.mdC-TT{
	background-position: -520px -65px ;
	width: 64px;
	height: 64px;
}

.mdC-TV{
	background-position: -455px -65px ;
	width: 64px;
	height: 64px;
}

.mdC-TW{
	background-position: -390px -65px ;
	width: 64px;
	height: 64px;
}

.mdC-TZ{
	background-position: -325px -65px ;
	width: 64px;
	height: 64px;
}

.mdC-UA{
	background-position: -260px -65px ;
	width: 64px;
	height: 64px;
}

.mdC-UG{
	background-position: -195px -65px ;
	width: 64px;
	height: 64px;
}

.mdC-US{
	background-position: -130px -65px ;
	width: 64px;
	height: 64px;
}

.mdC-UY{
	background-position: -65px -65px ;
	width: 64px;
	height: 64px;
}

.mdC-UZ{
	background-position: 0 -65px ;
	width: 64px;
	height: 64px;
}

.mdC-VA{
	background-position: -910px 0;
	width: 64px;
	height: 64px;
}

.mdC-VC{
	background-position: -845px 0;
	width: 64px;
	height: 64px;
}

.mdC-VE{
	background-position: -780px 0;
	width: 64px;
	height: 64px;
}

.mdC-VG{
	background-position: -715px 0;
	width: 64px;
	height: 64px;
}

.mdC-VI{
	background-position: -650px 0;
	width: 64px;
	height: 64px;
}

.mdC-VN{
	background-position: -585px 0;
	width: 64px;
	height: 64px;
}

.mdC-VU{
	background-position: -520px 0;
	width: 64px;
	height: 64px;
}

.mdC-WF{
	background-position: -455px 0;
	width: 64px;
	height: 64px;
}

.mdC-WS{
	background-position: -390px 0;
	width: 64px;
	height: 64px;
}

.mdC-YE{
	background-position: -325px 0;
	width: 64px;
	height: 64px;
}

.mdC-YT{
	background-position: -260px 0;
	width: 64px;
	height: 64px;
}

.mdC-ZA{
	background-position: -195px 0;
	width: 64px;
	height: 64px;
}

.mdC-ZM{
	background-position: -130px 0;
	width: 64px;
	height: 64px;
}

.mdC-ZW{
	background-position: -65px 0;
	width: 64px;
	height: 64px;
}

.mdC-_unknown{
	background-position: 0 0;
	width: 64px;
	height: 64px;
}

